.word-card {
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
    margin: 20px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    display: inline-block;
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    }

.delete-card {
    font-weight: bold;
    font-size: 24px;
    border: 2px black solid;
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 23px;
}

.delete-card:hover {
    background-color: red;

}